@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom slider styles */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #667eea;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #667eea;
  cursor: pointer;
  border: none;
} 